@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --Inter : "Inter", sans-serif;
    --Playfair-Display :  "Playfair Display", serif;
}
* {
    margin: 0;
    scroll-behavior: smooth;
}
.container {
    max-width: 1440px;
    margin:auto;
    padding: 0 15px;
}
#container {
    max-width: 1440px;
    margin:auto;
    padding: 0 15px;
}

img {
    width: 100%;
}

/* Section 1 Contact */

#Contact {
    margin: 100px 0;
}


/* Form */

form {
    background-color: #F9FAFB;
    box-shadow: 0px 1px 2px 0px #0000000D;
    width: 672px;
    height: 698px;
    border-radius: 16px;    
}
#Div-3 {
    display: flex;
    gap: 24px;
    justify-content: center;
}
#Div-4 {
    margin: 0 30px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
form label {
    font-family: var(--Inter);
    font-weight: 500;
    font-size: 16px;  
    margin: 10px 0;
}
form input  {
    border: 1px solid #D1D5DB;
    border-radius: 8px;
    width: 292px;
    height: 50px;
}
form textarea {
    border: 1px solid #D1D5DB;
    border-radius: 8px;
    width: 608px;
    height: 146px;
    margin: 10px 0;
}
#Div-5 {
    margin: 10px 30px;
}
#checkbox {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    
}

#submit {
    background-color: #419D78;
    border: none;
    color: white;
    font-family: var(--Inter);
    font-weight: 500;
    font-size: 16px;
    width: 216px;
    height: 48px;
    border-radius: 8px;
    margin: 15px 30px;
    &:hover {
        color: white;
        background-color: #2D3047;
    }
}
